<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">xpertsms123</property>
  <!-- "?zeroDateTimeBehavior=convertToNull" is because by default, MySQL 
			does not convert zero date format to null, i.e. 0000-00-00 00:00 -->
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tbreach?zeroDateTimeBehavior=convertToNull</property>
  <property name="hibernate.connection.username">xpertsmsuser</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.pool_size">0</property>
  <property name="hibernate.connection.autocommit">true</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="org/irdresearch/tbreach/shared/model/Contact.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Definition.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/DrugHistory.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Encounter.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/EncounterResults.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Feedback.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/GeneXpertResults.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Gp.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/GpMapping.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Incentive.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/IncentiveAccount.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Location.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/LogDataChange.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/LogDataDelete.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/LogDataInsert.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/LogUserLogin.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Monitor.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/NonSuspect.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Patient.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Person.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Relationship.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/SetupCity.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/SetupCountry.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/SetupIncentive.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/SetupRole.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Sms.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/SputumResults.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Supervisor.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/TreatmentRefusal.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/UserRights.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Users.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/Worker.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach/shared/model/XrayResults.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
