<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tbrmobileweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	classpath:applicationContext-service.xml
        	classpath:openmrs-servlet.xml
        </param-value>
    </context-param>
   <servlet>
		<servlet-name>openmrs</servlet-name>
		<servlet-class>org.openmrs.web.DispatcherServlet</servlet-class>
		<!-- empty contextConfigLocation passed in here so that module
		     startup and spring annotation config happen correctly. Spring
		     must be taking the config file locations from the main param 
		     defined at the top of this xml file -->
		<init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>

	        </param-value>
	    </init-param>
		<!-- Don't use "load-on-startup" in case initial setup wizard is needed -->
	</servlet>
<!--    <servlet> -->
<!--     <servlet-name>starterServlet</servlet-name> -->
<!--     <servlet-class>org.irdresearch.tbreach.mobileevent.StarterServlet</servlet-class> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>starterServlet</servlet-name> -->
<!--     <url-pattern>/starterServlet</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>