<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
	<welcome-file>default.html</welcome-file>
	<welcome-file>tbr3web.jsp</welcome-file>
  </welcome-file-list>

  <!-- This block makes sure that all the resources are accessed via HTTPS -->
<security-constraint>
 <web-resource-collection>
  <web-resource-name>HTTPSOnly</web-resource-name>
   <url-pattern>/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
  <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint>
<!-- This block overrides the previous for certain resources and enables them on both HTTP and HTTPS -->
<security-constraint>
 <web-resource-collection>
  <web-resource-name>HTTPSOrHTTP</web-resource-name>
   <url-pattern>*.jpg</url-pattern>
   <url-pattern>/img/*</url-pattern>
   <url-pattern>/css/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
  <transport-guarantee>NONE</transport-guarantee>
 </user-data-constraint>
</security-constraint>
  
  
</web-app>
