<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">liamtekcor</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tbr3_monitoring?zeroDateTimeBehavior=convertToNull</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.pool_size">0</property>
  <property name="hibernate.connection.autocommit">true</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.use_sql_comments">false</property>
  <property name="hibernate.format_sql">false</property>
  <property name="hibernate.transaction.auto_close_session">true</property>
  
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Defaults.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Definition.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/DefinitionType.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Dictionary.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Encounter.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/EncounterElement.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/EncounterPrerequisite.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/EncounterResults.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/EncounterType.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/EncounterValue.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Feedback.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/LabTest.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Location.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/LogData.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/LogLogin.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Patient.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Person.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/PersonRole.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/Sms.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/User.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/UserMapping.hbm.xml"/>
  <mapping resource="com/ihsinformatics/tbr3/fieldmonitoring/shared/model/UserRights.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
